.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    padding: 10px 20px;
    border: 2px solid #000;

    &:disabled {
        border-color: var(--disbled-color);
        color: var(--disbled-color);
        background: transparent;
        cursor: default;
    }
}